.bg-light {
    background-color: #52474d !important;
   
  }
  .nav-link:hover, .nav-link:focus {
   background-color: #91868c;
  }
  .navbar-brand:hover, .navbar-brand:focus {
     background-color: #91868c;
     text-decoration: white;
  }



  .navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color:white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-brand {
    color: white;
}

.jumbotron {
    background-color: white;
}
.imagenes {
    margin-top: 90px;
    border: 2px solid #D1462F;
    border-radius: 10px 10px 10px 10px ;
    display: block;
    margin-left: auto; 
    margin-right: auto;
}
.back {
    background-color: #D1462F;
    padding: 50px;
}
.port {
    text-align: center;
}
figcaption {
    text-align: center;
}
.acerca {
  margin: 150px;
  
}
.formPrueba {
  background-color: tomato;
}
.form-control {
  width: 90%;
  margin-top: 3px;
  margin-bottom: 5px;
  
}
.form-group {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
 
}
.footer {
  background-color: #708090;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
}
.footer2 {
  background-color: #000000;
  color: white;
}
.col-12 {
  padding-left: 500px;
}
.textCenter {
  align-content: center;
  text-align: center;
}
.letraBlanca{
  color: white;
}